

.border {
    font-size: 23px;
    margin-top: 15%;
    margin-left: 10%;
    display: flex;
}


h1 {
    border-left: 20px solid #FFA53C;
    padding-left: 10px;
    margin-bottom: 20px;
}

table {
    margin: auto;
    background-color: white;
    width: 70%;
    height: 300px;
}

.img {
    width: 100%;
}
th{
    font-size: 24px;
    background-color: #D9D9D9;
    width: 20%;
    height: 10%;
    padding: 11px;
}
td{
    font-size: large;
    padding: 3%;
}

.map{
    text-align: center;
}