@charset "UTF-8";

* {
  margin: 0;
}

body {
  background-color: #c8e7ff;
  margin: 3vw 0 0 0;
  padding: none;
}

/* ============================== */

header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c8e7ff;
}

.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-img {
  /* 1.5:5 */
  padding: 10px 10px 12px 30px;
  object-fit: contain;
}

.header ul li {
  list-style: none;
  text-align: center;
}

.flex {
  display: flex;
}

a {
  display: block;
}

.company-info {
  text-align: end;
  margin-bottom: 8px;
  font-size: 18px;
  margin-right: 5vw;
}

.out-info {
  margin: 20vw 0 5vw 0;
}


/* 普通のヘッダーボタンについて */

.gnavi__wrap {
  margin: 3vw;
}

.gnavi__lists {
  display: flex;
  margin: none;
}
.gnavi__list {
  width: 10vw;
  height: 50px;
  background-color: #c8e7ff;
  position: relative;
  transition: all .3s;
}
.gnavi__list:hover {
  background-color: #0071BB;
}
.gnavi__list:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
.gnavi__list:hover::before {
  background-color: #0071BB;
}
.gnavi__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
  text-decoration: none;
  color: #1b4059;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: all .3s;
}
.gnavi__list:hover a {
  color: #fff;
}


/* ドロップダウンについて */

.dropdown__lists {
  transform: scaleY(0);
  transform-origin: center top;
  transition: all .3s;
  width: 20vw;
  position: absolute;
  top: 4;
  right: 0;
}
.gnavi__list:hover .dropdown__lists {
  transform: scaleY(1);/*Gナビメニューにホバーしたら表示*/
}

.gnavi__list:hover .dropdown__lists {
  display: block;
}
.dropdown__list {
  background-color: #004d80;
  height: 60px;
  transition: all .3s;
  position: relative;
}
.dropdown__list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #3492d1;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown__list:hover {
  background-color: #003558;
}
.dropdown__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.dropdown__list a::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute; 
  right: 15px;
  top: calc(50% - 5px);
}


/* ============================== */