body{
    margin: 0;
}

.room-info img{
    width: 100%;
    height: 650px;
    margin-top: 40px;
}

.room-info h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.price{
    width: 50%;
    margin: 100px auto;
    border: solid 1px black;
}

.price h3{
    margin: 30px;
    text-align: center;
}

.price p{
    margin: 5px;
}

.price span{
    padding-left: 150px;
}

.price ul{
    padding: 10px 50px 10px 50px;
}

.price li{
    list-style: none;
    border-bottom: 1px black solid;
}